{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="section mt-100 overlay">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1>UBIK Savjetovanje</h1>
                <p class="text-hero mb-70">Nudimo pristup našoj punoj usluzi savjetodavnih resursa, neovisno
                    o Vašem znanju i prethodnom iskustvu.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-about about-section mb-70"
    style="padding-bottom: 320px; background-image: url('/images/about/about.png');"
    data-background="/images/about/about.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-md-1">
                <h2 class="section-title">Što nudimo</h2>

                <p><li>Znanje naših temeljnih članova i operativaca</li></p>
                <p><li>Iskustvo</li></p>
                <p><li>Edukacije</li></p>
                <p><li>Sigurnost</li></p>
                <p><li>Naučite kako zaštititi svoju investiciju koristeći najučinkovitije sigurnosne uređaje i strategije.</li></p>
                <p><li>Naučite prepoznati "scam" projekte i kako ne nasjesti na prijevare.</li></p>
                <p><li>Usluge poslovnog i organizacijskog savjetovanja</li></p>
                <p><li>Pružamo savjetodavne usluge tvrtkama i organizacijama koje žele integrirati
                        blockchain i kriptovalute u svoje trenutne aktivnosti.</li></p>
                <p><li>Nudimo sveobuhvatnu podršku i odgovore na upite vezane uz porez i/ili
                        računovodstvo.</li></p>

                <div class="row flex-center mt-100">
                    <a href="https://5esudghy7c4.typeform.com/to/Ob9P9goK" class="become-a-member-btn btn btn-primary"
                        target="_blank" rel="noopener noreferrer">Pošalji pitanje</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}