// Color Variables
$primary-color: #00192c;
$secondary-color: #f89544;
$text-color: #fff;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$text-color-accent: #f47b6a;
$body-color: #1c3547;
$border-color: #e75da2;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$secondary-blue: #002278;
$blue: #1d4cab;

// Font Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hind";
$icon-font: "themify";
