// Color Variables
$primary-color: #00192c;
$secondary-color: #f89544;
$text-color: #fff;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$text-color-accent: #f47b6a;
$body-color: #1c3547;
$border-color: #e75da2;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$secondary-blue: #002278;
$blue: #1d4cab;
$light-blue: #2adaf7;

// Font Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hind";
$icon-font: "themify";
$font-size-body: 1rem;
$font-size-p: 1.125rem;
$font-size-h6: 1.5625rem;
$font-size-h5: 2rem;
$font-size-h4: 2.5625rem;
$font-size-h3: 3.25rem;
$font-size-h2: 4.125rem;
$font-size-h1: 5.25rem;
$font-size-h1-mobile: 2.8125rem;
$font-size-h2-mobile: 1.875rem;
$font-size-h3-mobile: 1.25rem;
$font-size-h4-mobile: 1.125rem;
$font-size-h5-mobile: 1rem;
$font-size-h6-mobile: 1rem;
$font-size-button: 1.3125rem;
$font-size-button-sm: 0.875rem;
$font-size-button-xs: 0.75rem;
$font-size-overline: 0.875rem;
$line-height-h1: 1.2857;
$line-height-h2: 1.151;
$line-height-h3: 1.2307;
$line-height-h4: 1.2682;
$line-height-h5: 1.25;
$line-height-h6: 1.2;
$line-height-p: 1.555;
$line-height-body: 1.125;
$line-height-button: 0.857;