.navbar-brand .logo {
  width: 150px;
}

.feature-blocks {
  padding-right: 0;

  @media (max-width: 575px) {
    padding-left: 0;
  }
}

.member {
  .card-title {
    font-family: $primary-font;
  }
}
