{{ define "main" }}

<!-- members -->
<section class="section">
  <div class="container">
    <!-- member category list -->
    <div class="row">
      <div class="col-12">
        <ul class="list-inline text-center filter-controls mb-5">
          <li class="list-inline-item m-3 text-uppercase" data-filter="all">{{ i18n "all" }}</li>
          <li class="list-inline-item m-3 text-uppercase" data-filter="upravni-odbor">{{ i18n "upravni-odbor" }}</li>
          <li class="list-inline-item m-3 text-uppercase" data-filter="temeljni-clanovi">{{ i18n "temeljni-clanovi" }}</li>
        </ul>
      </div>
    </div>
    <!-- members list -->
    <div class="row filtr-container">
      <!-- member -->
      {{ range .Data.Pages.Reverse }}
      <div data-category="{{ .Params.Type | urlize }}" class="col-lg-4 col-sm-6 filtr-item">
        {{ .Render "member" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /members -->

{{ end }}
