{{ define "main" }}

<!-- members -->
<section class="section">
  <div class="container">
    <!-- member category list -->
    <div class="row">
      <div class="col-12">
        <ul class="list-inline text-center filter-controls mb-5">
          <li class="list-inline-item m-3 text-uppercase active" data-filter="all">{{ i18n "all" }}</li>
          {{ $categories := slice }}
          {{ range .Data.Pages }}
          {{ $categories = $categories | append .Params.Type }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <li class="list-inline-item m-3 text-uppercase" data-filter="{{ . | urlize }}">{{ i18n . | humanize }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- members list -->
    <div class="row filtr-container">
      <!-- member -->
      {{ range .Data.Pages.Reverse }}
      <div data-category="{{ .Params.Type | urlize }}" class="col-lg-4 col-sm-6 filtr-item">
        {{ .Render "member" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /members -->

{{ end }}
