{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="section mt-100 overlay">
  <div class="container">
    <div class="container">
      <div class="row">
        {{ with $data.membership.about }}
        <div class="col-lg-12">
          <h1>{{ .title | markdownify }}</h1>
          <p class="text-hero mb-70">{{ .description | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{ with $data.membership.student }}
        <div class="col-md-4 col-sm-12">
          <div class="pricingTable">
            <div class="pricingTable-header">
              <i class="fa fa-adjust"></i>
              <div class="price-value">
                {{ i18n "student_pricing" }}<span class="month">{{ i18n "annualy" }} </span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "student" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>{{ .content.line1 | markdownify }}</li>
                <li>{{ .content.line2 | markdownify }}</li>
                <li>{{ .content.line3 | markdownify }}</li>
                <li>{{ .content.line4 | markdownify }}</li>
              </ul>
            </div>
          </div>
        </div>
        {{ end }}

        {{ with $data.membership.member }}
        <div class="col-md-4 col-sm-12">
          <div class="pricingTable pink">
            <div class="pricingTable-header">
              <i class="fa fa-briefcase"></i>
              <div class="price-value">
                {{ i18n "member_pricing" }} <span class="month">{{ i18n "annualy" }}</span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "member" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>{{ .content.line1 | markdownify }}</li>
                <li>{{ .content.line2 | markdownify }}</li>
                <li>{{ .content.line3 | markdownify }}</li>
                <li>{{ .content.line4 | markdownify }}</li>
                <li>{{ .content.line5 | markdownify }}</li>
              </ul>
            </div>
          </div>
        </div>
        {{ end }}

        {{ with $data.membership.foundationalmember }}
        <div class="col-md-4 col-sm-12">
          <div class="pricingTable light-blue">
            <div class="pricingTable-header">
              <i class="fa fa-cube"></i>
              <div class="price-value">
                {{ i18n "foundation_member_pricing" }}
                <span class="month">{{ i18n "annualy" }}</span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "foundation_member" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>{{ .content.line1 | markdownify }}</li>
                <li>{{ .content.line2 | markdownify }}</li>
                <li>{{ .content.line3 | markdownify }}</li>
                <li>{{ .content.line4 | markdownify }}</li>
                <li>{{ .content.line5 | markdownify }}</li>
                <li>{{ .content.line6 | markdownify }}</li>
                <li>{{ .content.line7 | markdownify }}</li>
                <li>{{ .content.line8 | markdownify }}</li>
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row flex-center mt-100">
          <div>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScjT7zIX3FW6s0KRaoX9f6Ul6iPk8_sjiytRuL24STvENS4xw/viewform"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
              data-delay-out="5"
              data-duration-in=".3"
              data-delay-in=".7"
              >{{ i18n "join-us" }}</a
            >
          </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
