{{ define "main" }}

<section class="section mt-100 overlay">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Postani član</h1>
          <p class="text-hero mb-70">Odaberite svoje članstvo ako želite sudjelovati u našim aktivnostima, podržati
            rad te dati svoj doprinos u razvoju i rastu blockchain i crypto scene u Hrvatskoj.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="pricingTable">
            <div class="pricingTable-header">
              <i class="fa fa-adjust"></i>
              <div class="price-value">
                {{ i18n "student_pricing" }}<span class="month">{{ i18n "annualy" }} </span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "student" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>Prilika za učenjem i upoznavanjem najvećih stručnjaka u ekosustavu</li>
                <li>Popust od 50% na sve UBIK komercijalne projekte</li>
                <li>Prednost prilikom prijave na sve meetupe, edukacije i slične djelatnosti</li>
                <li>UBIK promotivna majica, jedinstvena za svakog člana uz pripadajući NFT token</li>
              </ul>
            </div>
            <div class="pricingTable-signup">
              <a href="#">{{ i18n "select" }}</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="pricingTable pink">
            <div class="pricingTable-header">
              <i class="fa fa-briefcase"></i>
              <div class="price-value">
                {{ i18n "member_pricing" }} <span class="month">{{ i18n "annualy" }}</span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "member" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>Popust od 25% na sve UBIK komercijalne projekte</li>
                <li>Prednost prilikom prijave na sve meetupe, edukacije i slične djelatnosti</li>
                <li>Umrežavanje i uspostavljanje novih poslovnih partnerstava - mogućnost ulaza na organizirane poslovne networking evente (invite only) za redovne i temeljne članove</li>
                <li>UBIK promotivna majica, jedinstvena za svakog člana uz pripadajući NFT token</li>
              </ul>
            </div>
            <div class="pricingTable-signup">
              <a href="#">{{ i18n "select" }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="pricingTable light-blue">
            <div class="pricingTable-header">
              <i class="fa fa-cube"></i>
              <div class="price-value">
                {{ i18n "foundation_member_pricing" }}
                <span class="month">{{ i18n "annualy" }}</span>
              </div>
            </div>
            <h3 class="heading">{{ i18n "foundation_member" }}</h3>
            <div class="pricing-content">
              <ul>
                <li>Ograničen broj: 20</li>
                <li>Marketinške aktivnosti (mogućnost pisanog intervjua i/ili članka na blogu, pravo na korištenje logotipa i UBIK branda – UBIK member badge, logotip na web stranici udruge)</li>
                <li>Pravo prvenstva prilikom sudjelovanja na meetupima, edukacijama i ostalim projektnim aktivnostima</li>
                <li>Umrežavanje i uspostavljanje novih poslovnih partnerstava - mogućnost ulaza na organizirane poslovne networking evente (invite only) za redovne i temeljne članove</li>
                <li>Istaknuti član poslovne zajednice koji je aktivno uključen u razvoj UBIK-a i ekosustava, te automatski postaje dijelom savjetodavnog odbora UBIK-a</li>
                <li>UBIK promotivna hoodica, jedinstvena za svakog člana uz pripadajući NFT token</li>
              </ul>
            </div>
            <div class="pricingTable-signup">
              <a href="#">{{ i18n "select" }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-center mt-100">
          <div>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScjT7zIX3FW6s0KRaoX9f6Ul6iPk8_sjiytRuL24STvENS4xw/viewform"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
              data-delay-out="5"
              data-duration-in=".3"
              data-delay-in=".7"
              >Postani član</a
            >
          </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
