.filter-controls {
  li {
    margin: 0 15px;
    position: relative;
    padding: 20px 0px;

    cursor: pointer;
    transition: 0.1s ease;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 6px;
      width: 100%;
      content: "";
      background: $border-color;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease;
    }

    &:hover,
    &.active {
      font-weight: 600;
      color: $border-color;
    &::before {
      transform: scaleY(0.3);
      transform-origin: bottom;
    }
  }
  }
}

.categories-item {
  margin: 0 15px;
  position: relative;
  padding: 20px 0px;
  
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    content: "";
    background: $white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }

  &:hover,
  &.active {
    &::before {
      transform: scaleY(1);
      transform-origin: bottom;
    }
  }
}

.tag-list {
  a {
    display: block;
    padding: 15px 20px;
    background: $body-color;
    text-transform: uppercase;
    color: $text-color;
    border-radius: 100px;
    margin-right: 1rem;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}

.form-control-contact {
  background: #00192c;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 90%;

  &:focus {
    border-color: $primary-color;
    background: #021c54;
    box-shadow: none;
  }
}

.bg-contact {
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-top: 120px;
  margin-right: -120px;
}

.members-title{
  font-weight: 300;
}

.bg-dotted {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 1%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
  @include desktop-xxl {
    top: 0%;
    background-position: center right;
  }
}

.bg-pattern {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 10%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-blogtext {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 118%;
  background-repeat: no-repeat;
  background-position: bottom right;
  right: 7%;
  @include desktop-xxl {
    bottom: 4%;
    top: initial;
    right: 3%;
  }
}

.bg-members-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
}

.bg-lines-members {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include desktop-xxl {
    top: 80%;
  }
}