{{ define "main" }}

<!-- blog details -->
<section class="section-sm overlay blog">
  <div class="bg-blog-section" data-background="{{ site.Params.homepage_blog_section_background_image | absURL }}"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 order-1">
        <div class="row">
          <div class="col-12 mb-4">
            <img src="{{ .Params.image | relURL }}" alt="blog-thumb" class="img-fluid blog-image">
          </div>
          <div class="col-12">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-4 text-light"><span class="font-weight-bold mr-2">{{ i18n "posted_by" }}
                  :</span><span>{{ .Params.Author | title }}</span></li>

              <li class="list-inline-item mr-4 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
                  :</span>{{ .PublishDate.Format "02 Jan, 2006" }}</li>

            </ul>
          </div>
          <!-- border -->
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <!-- blog title -->
          <h2>{{ .Title }}</h2>
          <div class="col-12 mb-5 content">
            {{ .Content }}
          </div>
          <!-- comments -->
          {{ if site.DisqusShortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}
